/* Root Style */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --Blue: hsl(223, 87%, 63%);
  --PaleBlue: hsl(223, 100%, 88%);
  --LightRed: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --VeryDarkBlue: hsl(209, 33%, 12%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}
/* Root Style */

/* Main */
main {
  max-width: 700px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
}
/* Main */

/* Titles */
.heading {
  color: var(--Gray);
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 10px;
}

.bold {
  font-weight: 700;
  color: var(--VeryDarkBlue);
}

.sub-heading {
  color: var(--VeryDarkBlue);
  font-weight: 300;
}
/* Titles */

/* Form */
form {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  text-align: left;
}

.form-left {
  flex: 0.7;
}

input {
  border: 1px solid var(--PaleBlue);
  border-radius: 50px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  padding: 20px 25px;
  margin-bottom: 15px;
  width: 100%;
}

input::placeholder {
  color: var(--PaleBlue);
}

input.error {
  border-color: var(--LightRed);
}

input.error::placeholder {
  color: var(--LightRed);
}

form small {
  color: var(--LightRed);
  display: none;
  font-style: italic;
  z-index: 100;
  margin: 0 20px 40px;
}

button {
  background-color: var(--Blue);
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 5px var(--Blue);
  color: #fff;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  margin-left: 20px;
  flex: 0.3;
}

button:hover {
  opacity: 0.8;
}
/* Form */

/* Image */
.image {
  max-width: 100%;
  margin: 60px 0;
}
/* Image */

/* Footer */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.social-icons li {
  margin: 10px;
}

.social-icons li a {
  border: 1px solid #e5e1e1;
  border-radius: 50%;
  color: var(--Blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

.social-icons li a:hover {
  background-color: var(--Blue);
  border-color: var(--Blue);
  color: #fff;
}

footer p {
  color: var(--Gray);
  text-align: center;
}
/* Footer */

/* Media Query */
@media screen and (max-width: 650px) {
  .heading {
    font-size: 1.6rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  form {
    flex-direction: column;
    text-align: center;
  }

  .form-left {
    width: 100%;
  }

  input {
    padding: 15px 25px;
  }

  button {
    margin-left: 0;
    width: 100%;
    padding: 15px 0;
  }
}
/* Media Query */
